.App {
  text-align: center;
  margin: 5%;
  box-sizing: border-box;
  font-family: sans-serif;
  box-sizing: border-box;

  &-data-table,
  &-chart {
    border: 1px solid #eee;
    border-radius: 0.25rem;
    padding: 1rem 2rem 2rem;
    margin: 1rem 0;
  }

  &-drop-down-button {
    position: absolute;
  }

  @media(max-width: 575px){
    & {
      margin: 5% 0;
    }
    &-data-table {
      padding: .5rem .5rem;
    }

  .data-table {
      padding: .5rem .025rem;

      &__table {
        overflow-x: scroll;
      }
    }

    &-chart {
      padding: .5rem 0.25rem;
    }
  }

  .drop-down--toggle {
    font-size: 0;
  }

  .drop-down__icon {
    padding-left: 0;
  }

  @media(min-width: 1240px){
  & {
      margin: 5% 15%;
    }
  }

}








